%h1 Viewing list

%div[current_object]
  %p.title
    %strong Title
    = h current_object.title
  %p.css
    %strong Css
    = h current_object.css

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy list?', :method => :delete
|
= link_to 'Back', objects_path
