%h1= h current_object.title

= render current_object.gifts

- unless params[:iframe]
  %iframe{:src => list_url(current_object, :iframe => true)}

  %textarea
    %iframe{:src => list_url(current_object, :iframe => true)}
  

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy list?', :method => :delete
|
= link_to 'Back', objects_path