%h1= @list
%p
  = link_to "Add Gift", new_list_gift_path(current_object)
  |
  = link_to 'Edit List', edit_object_path
  |
  = link_to 'Delete List', object_path, :confirm => 'Really destroy list?', :method => :delete

%ul#gifts
  - current_object.gifts.each do |gift|
    %li
      %h3= gift
      %p
        = link_to 'Edit gift', edit_gift_path(gift)
        |
        = link_to 'Delete List', gift, :confirm => 'Really destroy list?', :method => :delete

%iframe{:src => iframe_list_url(current_object)}

%textarea{:readonly => true}
  %iframe{:src => iframe_list_url(current_object)}

