.clearfix[gift]
  %h2.title
    = link_to_unless gift.url.blank?, h(gift.title), gift.url, :target => '_blank'
    %span.price
      = number_to_currency gift.price, :unit => "&pound;"
  .description= simple_format h(gift.description)

  .reservation
    - if gift.reserved?
      .details
        This gift was reserved
        = time_ago_in_words gift.reservation.created_at
        ago
    - else
      = link_to 'Reserve this gift &raquo;', new_gift_reservation_path(gift, :iframe => true)