%h1 Editing gift

= error_messages_for :gift

- form_for @gift do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
