- if params[:iframe]
  - content_for :head do
    %style= @gift.list.css

%h1
  Reserving
  = @gift

- semantic_form_for [@gift, @reservation] do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submit_tag "Make your reservation"
    = link_to 'Back to the gifts', iframe_list_path(@gift.list)
