%h1 Viewing reservation

%div[current_object]
  %p.gift_id
    %strong Gift
    = h current_object.gift_id
  %p.name
    %strong Name
    = h current_object.name
  %p.email
    %strong Email
    = h current_object.email

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy reservation?', :method => :delete
|
= link_to 'Back', objects_path
