%div[gift]
  %p.title
    %strong Title
    = h gift.title
  %p.description
    %strong Description
    = h gift.description
  %p.url
    %strong Url
    = h gift.url
  %p.price
    %strong Price
    = h gift.price

  = link_to 'Show', object_path(gift)
  |
  = link_to 'Edit', edit_object_path(gift)
  |
  = link_to 'Destroy', object_path(gift), :confirm => 'Really destroy gift?', :method => :delete
