!!!
%html.no-js
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %meta{:name => 'robots', :content => 'noodp'}

    = stylesheet_link_tag('application', :media => 'screen, print')
    = formtastic_stylesheet_link_tag
    %title
      Gifts
  %body
    #content
      - flash.each do |key, msg|
        .flash{:id => key}= msg
      #inner
        #header
          - if !current_user
            - form_for User.new, :url => account_path do |f|
              = oauth_register_button :value => "Register with Twitter", :class => 'twitter'
          - else
            = link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"
        = yield
